# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / cache
__pycache__/
*.pyc
node_modules/
dist/
build/
*.class
*.exe
*.out

# Env
.env
.env.*

# .NET / C#
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
publish/
*.dll
*.exe
*.pdb
*.cache
project.lock.json
project.fragment.lock.json
artifacts/