# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build / cache
__pycache__/
*.pyc
node_modules/
dist/
build/
*.class
*.exe
*.out

# Env
.env
.env.*

#
Algorithm_Programmers.csproj
Algorithm_Programmers.sln
Program.cs
obj/
bin/
test